.footer{
    background-color: rgb(219,219,219);
    height: 59px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

       a{
        font-size: 23px;
        display: inline-block;
        background-color: rgb(243, 243, 243);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 19px;
        margin-left: 14px;
        color: rgb(109, 110, 113);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        }                 
}
#altup{
    position: absolute;
  right: 14px;
}