@import './resets','./variables','./burger','./slider','./footer';

@mixin flex($direction) {
    display: flex;
    align-items: center;    
    flex-direction: $direction;
    justify-content: start;
} 

.nav {
 background: white;
 
   #{&}1 {
        @include flex(row);
        border-bottom: 5px solid ;
        border-image: linear-gradient(90deg, rgba(185,212,72,100) , rgba(58,117,184,100)  )100;

         .list{
           @include flex(row);
           list-style: none;

            .list-items a{
                text-decoration: none;
                margin: auto 5px;

                span{
                    @media (max-width:767px) {
                        visibility: hidden;
                     }
                  }
                img{
                    width: 20px;
                    height: 20px;
                    @media screen and (min-width: 767px){
                        visibility: hidden;
                    }
                    @media screen and (max-width: 479px){
                        visibility: hidden;  
                    }
                  }
                }
              }
         }     
}

#company-name{
    color:gray ;
    span{
        color: $hover-color1;
    }
}
.main {
    background-color: gray;
}
